<h1> Hey <%= @user.last.username %> ! </h1>
</br></br></br></br>
    <div class='head'>
     <h2>You are now part of the family:</h2></br>
    <%= link_to("Create a new member", "/") %>
    </div>
</br></br></br>
<div class="content"> 
<div class="family">

         <% @user.each do |x|%>
    <div class="card form-group" style="width: 18rem;">
    <div class="card-body">
    <h5 class="card-title"><%= x.username %></h5>
    <h6 class="card-title"><%= x.email %></h6>
    <p class="card-text"><%= x.bio %></p>
    </div>
  </div>
  <% end %>
